.NewcontactCard {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding: 50px;
    margin: 50px;
    border-style: solid;
    border-radius: 30px;
    width: 50vw;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

input {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.fileUploader {
    box-shadow: none;
}

h1 {
    background-color: aqua;
}

button {
    color: white;
    background-color: rgb(51, 51, 51);
    border-radius: 50px;
}

.newContact {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding: 50px;
    margin: 50px;
    border-style: solid;

}

.visibleNewContactCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.invisibleNewContactCard {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
}

.showFormButton {
    height: 20px;
}

.test {
    background-color: aqua;
}

input {
    background-color: aqua;
    border-width: 1px;
}