.contactCard {
    background-color: aqua;
    padding: 50px;
    margin: 50px;
    border-style: solid;
    border-radius: 30px;
    
}

.mainInfos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    
}

.profilePicture {
    height: 50px;
}

.contactButtons {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}

.hiddenInfos {
    background-color: aqua;
}

p {
    background-color: aqua;
}

