.contactCard {
    background-color: aqua;
    padding: 50px;
    margin: 50px;
    border-style: solid;
    border-radius: 30px;
    width: 50vw;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.mainInfos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}

.profilePicture {
    height: 50px;
}

.contactButtons {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}

.hiddenInfos {
    background-color: aqua;
}

p {
    background-color: aqua;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
}

.submitAndDelete {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.hiddenInputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: aqua;
}

.hiddenInfosContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60px;
    background-color: aqua;
}